<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="GET">
            <input 
            type="search"
            aria-label="Search"
            id = "searchInput"
            name="searchTerm"
            placeholder="Go on..."/>
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>