<div class="contactbox">
    <ul class="article-ul">
        <li>
            <a href="https://www.linkedin.com/in/harsh-pandey-7652ba213/">
                <h3 class="articles__heading">LinkedIn</h3>
                <article class="article-list__date1">https://www.linkedin.com/in/harsh-pandey-7652ba213/</article>
            </a>
        </li>
        <li>
            <a href="https://github.com/newton0-0">
            <h3 class="articles__heading">GitHub</h3>
            <article class="article-list__date1">https://github.com/newton0-0</article>
            </a>
        </li>
        <li>
            <h3 class="articles__heading">E-Mail</h3>
            <article class="article-list__date1">harsh.pandey_btech_2024@gsv.ac.in</article>
        </li>
    </ul>
</div>